## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "default, deployer, qbox"

## You MAY edit the following:
sv_licenseKey "YOUR_CFX_LICENSE_KEY"
sv_hostname "YOUR_SERVER_NAME"
sets sv_projectName "[Qbox Project] YOUR_SERVER_NAME"
sets sv_projectDesc "YOUR_SERVER_DESCRIPTION"
sets locale "en-US"
load_server_icon myLogo.png
set sv_enforceGameBuild 3258
set mysql_connection_string "mysql://DB_USER:DB_PASSWORD@localhost/DB_NAME?charset=utf8mb4"

# Chat config
set resources_useSystemChat true
set qbx_chat:joinMessage "^2%s joined the server"
set qbx_chat:quitMessage "^1%s left the server (%s)"

# Voice config
exec voice.cfg

# Qbox config
setr qb_locale "en"
setr qbx:enableBridge "true"
set qbx:enableQueue "true"
set qbx:bucketLockdownMode "inactive"
set qbx:discordLink "discord.gg/YOUR_DISCORD"
set qbx:max_jobs_per_player 1
set qbx:max_gangs_per_player 1
set qbx:setjob_replaces "true"
set qbx:setgang_replaces "true"
set qbx:cleanPlayerGroups "true"
set qbx:allowMethodOverrides "true"
set qbx:disableOverrideWarning "false"
setr qbx:enableVehiclePersistence "false"
setr qbx:vehiclePersistenceType "semi"
set qbx:acknowledge "false"
setr qbx:enableGroupManagement "false"

# Message displayed to players in the chat after loading in
setr qbx:motd "<p style='padding: 1rem; background-color: #141517; border: 1px solid #373a40; border-radius: 0.5rem; text-align: center;'><span style='color: rgb(200, 200, 40);'>Welcome to YOUR_SERVER_NAME!</span></p>"

# illenium-appearance locale config
setr illenium-appearance:locale "en"

# Renewed-Weathersync config
setr weather_disablecd true

# Ox resources config
exec ox.cfg

# NPWD config
set npwd:framework "qbx"
set SCREENSHOT_BASIC_TOKEN ""
set NPWD_AUDIO_TOKEN ""

# loadscreen config
setr loadscreen:externalShutdown true
set loadscreen:primaryColor "#f1e542"
set loadscreen:shadowColor "#1a18077f"

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
stop basic-gamemode
ensure hardcap
ensure baseevents

# Qbox & Extra stuff
ensure ox_lib
ensure qbx_core
ensure ox_target
ensure [ox]
ensure [qbx]
ensure [standalone]
ensure [voice]
ensure [assets]

ensure [npwd-apps]
ensure qbx_npwd
ensure npwd

## Permissions ##
# add_principal identifier.fivem:YOUR_FIVEM_ID group.admin #YOUR_NAME
exec permissions.cfg

## Miscellaneous ##
exec misc.cfg
